<!doctype html>
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="refresh" content="10" />
<html>
<head><title>{% block title %}{% endblock %}</title>
<link rel="icon" type="image/png" href="favicon.ico"></head>
<small>
<table border="0" width="100%">
<tr>
    <td>
        <a href="/oppanel">oppanel</a>
    </td><td>
        <a href="/places">places</a>
    </td><td>
        <a href="https://github.com/maldex/McServerCompanion">McServerCompanion</a>
    </td>
</td>
</table>
</small
</hr>
<body>{% block content %} {% endblock %}</body>
</html>