{% extends "base.html" %}
{% block title %}OPPANEL{% endblock %}
{% block content %}

{% if server_message is not none %}
<pre>{{server_message}}</pre>
{% endif %}

<table border="0" width="100%">
    <form method="post" action="/time">
        <tr>
            <td>Time: {{current}} ({{ ((current / 24000)*100)|round(0) }}% )</td>
            {% for daytime in ["🌄day", "🌞noon", "🌃night", "🌕midnight"] %}
            <td align="center">
            <input type="submit" name="desired_time" value={{daytime}}>
            </td>
            {% endfor %}
        </tr>
        </form>
    <hr>
    <form method="post" action="/weather">
            <tr>
                <td>Weather</td>
                {% for weather in ["🌞clear", "🌧rain", "❄snow","🗲thunder"] %}
                <td align="center">
                <input type="submit" name="desired_weather" value={{weather}}>
                </td>
                {% endfor %}
            </tr>

    </form>
</table>
<hr>

<table border="0" width="100%">
    {% for player in players %}
    <form method="post" action="/player/{{player.name}}">

        <tr>
            <td>
                <b>{{player.name}}</b></br>
                <small>{% for i in range(0,player.Health,1)%}♥{% endfor %}{% for i in range(10,player.Health,-1)%}♡{% endfor %}</small>
            </td><td>
                <small>Current: {{player.Pos}}({{player.Dim}})</small></br>
                <small>Last: {{player.LastDeath}}({{player.LastDim}})</small></br>
            </td><td>
            <input type="hidden" name="Pos" value="{{player.Pos}}">
            <input type="hidden" name="Dim" value="{{player.Dim}}">
            <input type="hidden" name="LastDeath" value="{{player.LastDeath}}">
            <input type="hidden" name="LastDim" value="{{player.LastDim}}">

                <input type="submit" name="mode" value="👞kick">
                <input type="submit" name="mode" value="☝️OP">
                <input type="submit" name="mode" value="👇DEOP"></td>
            <td><input type="submit" name="mode" value="🍕survival">
                <input type="submit" name="mode" value="🎓creative"></td>
            <td>
                <input type="submit" name="mode" value="🔍teleport to">
                <select name="tp_to">
                {% if player.LastDeath is not none %}
                <option value="{{player.LastDeath}};{{player.LastDim}}">LastDeath</option>
                {% endif %}
                {% for p in players %} {% if p.name != player.name %}<option value="{{p.Pos}};{{p.Dim}}">{{p.name}}</option> {% endif %}
                {% endfor %}
                </select>
            </td>
        </td>
    </form>
    {% endfor %}

</table>

</body>
{% endblock %}