{% extends "base.html" %}
{% block title %}places{% endblock %}
{% block content %}

<h2>new place</h2>
<form method="post" action="/place/new">
   <select name="player_loc">
      {% for player in players %} <option value="{{player.Name}};{{player.Pos}};{{player.Dim}}">{{player.Name}}</option> {% endfor %}
   </select>
    <input type="text" id="name" name="new_name" value="{{now}}""/>
   <input type="submit" name="mode" value="☆new place"/>
</form>

</hr>
<h2>exsiting places</h2>
<table border="1" width="100%">
  <tr> <b><td>name</td><td>position</td><td>dimension</td><td>action</td></tr>
  {% for place in places %}
  <tr>
     <form method="post" action="/place/{{place.Name}}">
     <td> <input type="text" id="name" name="Name" value="{{place.Name}}"/>  </td>
     <td> <input type="text" id="pos"  name="Pos" value="{{place.Pos}}"/>  </td>
     <td> <select name="Dim">
     {% for d in ["overworld", "the_nether", "the_end"] %} <option {% if place.Dim == d %}selected{% endif %} value={{d}}>{{d}}</option> {% endfor %}
     </select></td>
     <td><button type="submit" name="mode" value="♲update">♲update</button>
         <button type="submit" name="mode" value="🗑delete">🗑delete</button>
         </td>

  </form> </tr>
  {% endfor %}
</table>

{% endblock %}
